
.imgs {
  width: 500px;
  height: 500px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}
.img1{
    align-items: center;
}
.banana{
    width: 300px;
    transition: width 1s;
}
.banana:hover{
    width: 350px;
}


.img2{
    
    filter: grayscale(0);
    width: 100px;
    
}

.img2:active{
    filter:grayscale(1);
}

